{% extends "emailBase.html" %}

{% block title %}
La tâche planifiée {{ taskName }} ne démarre pas
{% endblock title %}

{% block body %}
Bonjour {{userName}}<br />
Un incident réclame votre attention:<br />

La tâche planifiée {{ taskName }} devrait démarrer mais elle ne démarre pas.<br />
Rendez-vous sur <a href="https://dutyduck.net">DutyDuck.net</a> pour investiguer l'incident.
<hr>
Vous recevez cette alerte car vous êtes membre de l'organisation {{ org }}.<br />
Ceci est un e-mail automatique, ne répondez pas à cet e-mail.
{% endblock body %}