{% extends "emailBase.html" %}

{% block title %}
A task run for task '%{taskName}' has failed
{% endblock title %}

{% block body %}
Hello %{userName},
<br />
There is an ongoing incident that requires your attention.
<br />
A task run for task '%{taskName}' has failed.
<br />
Head over to <a href="https://dutyduck.net">DutyDuck.net</a> to investigate the incident.
<hr>
You are receiving this alert because you are a member of the '%{org}' organization.
<br />
This is an automated e-mail, do not reply to this e-mail.
{% endblock body %}