{% extends "layouts/base.html" %}
{% block title %}Index{% endblock title %}
{% block head %}
{% call super() %}
<style id="auth-style">
    html,
    body {
        background-color: var(--bs-secondary-bg-subtle);
    }
</style>
{% endblock head %}

{% block body %}
<div class="auth-page-container" id="auth-page-container">
    {% block content %}
    <a href="/" class="text-center mb-5 fs-3 d-block text-decoration-none">
        <div class="bg-green rounded-4 mx-auto my-3 position-relative"
            style="height: 100px; width: 100px; overflow: hidden;">
            <img src="/assets/static/navbar-duck.png" style="height: 90px; position: absolute; bottom: 0; left: -75px;"
                alt="Duty Duck logo">
        </div>
        <h2 class="fs-5 text-primary">Duty Duck</h2>
    </a>
    {% endblock content %}
</div>
{% endblock body %}