<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <link rel="stylesheet" href="/assets/index.css" />
    <title>{% block title %}{% endblock title %} - Duck on duty</title>
    {% endblock head %}
</head>

<body>
    {% block body %}{% endblock body %}
    <script src="/assets/index.js"></script>
</body>

</html>