$page-background: #F8F9FC;
$primary: #6ab04c;
$success: #02924f;
$info: #22a6b3;
$warning: #f0932b;
$danger: #eb4d4b;

$navbar-height: 50px;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@mixin homepage-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

@mixin blurry-gray-background {
  backdrop-filter: blur(10px);
  background-color: rgba($page-background, 0.6);
}


body {
  background-color: $page-background;
  overflow-x: hidden;
  min-height: 100vh;
}

.btn[aria-disabled] {
  @extend .disabled
}

.bg-green {
  background-color: $green;
}

.nav.nav-pills.nav-light {
  --bs-nav-pills-link-active-bg: var(--bs-primary-bg-subtle);
  --bs-nav-pills-link-active-color: var(--bs-primary);
}

.pagination {
  flex-wrap: wrap;
  row-gap: .5rem;
}