$primary: #5FAB3C;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-image: linear-gradient(to bottom, rgba(112, 190, 77, 0.05) 30%, var(--bs-tertiary-bg) 50%);
  overflow-x: hidden;
}

.btn[aria-disabled] {
  @extend .disabled
}

.bg-green {
  background-color: $green;
}

.navbar .navbar-collapse.show {
  padding-bottom: 1rem;

  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
  }
}

$navbar-height: 50px;

#dashboard-navbar {
  background-color: rgb(250, 250, 250);
  height: $navbar-height;
  box-shadow: rgba(154, 161, 171, 0.15) 0px 0px 35px 0px;

  #auth-menu {
    height: $navbar-height;
    border-left: solid $gray-300 2px;
    border-right: solid $gray-300 2px;
    display: flex;
    align-items: center;
  }

  .user-name {
    font-size: $font-size-base * 0.8;
  }
}

.page-title {
  display: flex;
  margin-bottom: $spacer * 1.5;
  align-items: center;
  justify-content: space-between;

  h1,
  h2,
  h3,
  h4 {
    font-size: 20px;
    margin: 0;
  }
}

.nav.nav-pills.nav-light {
  --bs-nav-pills-link-active-bg: var(--bs-primary-bg-subtle);
  --bs-nav-pills-link-active-color: var(--bs-primary);
}