{% extends "layouts/dashboard.html" %}
{% block title %}Dashboard{% endblock title %}

{% block content %}

<div class="page-title">
    <h2>Monitors</h2>
    <a x-target.push="dashboard-container" href="/dashboard/monitors/new" class="btn btn-primary btn-sm icon-link">
        <i data-feather="plus"></i>
        New monitor
    </a>
</div>

{% if monitors.is_empty() %}
<div class="card">
    <div class="card-body my-5 text-center">
        <h2>There's nothing there yet</h2>
        <p>Start monitoring your website in a click.</p>
        <p>
            <a x-target.push="dashboard-container" href="/dashboard/monitors/new"
                class="btn btn-secondary btn-sm icon-link">
                <i data-feather="plus"></i>
                Create your first monitor
            </a>
        </p>
    </div>
</div>
{% else %}

{% for m in monitors %}
<div class="card mb-2">
    <div class="card-body">
        <strong>{{ m.url }}</strong>
    </div>
</div>
{% endfor %}

{% endif %}

{% endblock content %}