$primary: #70BE4D;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./auth";
@import "./dashboard";

[x-loading] {
    display: none;
}

[aria-busy] [x-loading] {
    display: initial;
}

.btn[aria-disabled] {
    @extend .disabled
}

.bg-green {
    background-color: $green;
}

.navbar .navbar-collapse.show {
    padding-bottom: 1rem;

    @include media-breakpoint-up(lg) {
        padding-bottom: 0;
    }
}