{% extends "emails/base.html" %}

{% block body %}

<h1>Welcome to Duty Duck</h1>
<h2>Please confirm your e-mail to get started</h2>

<p>Hello,</p>
<p>You are receiving the e-mail becuase you signed up on <i>Duty Duck</i> to use our website monitoring solution.</p>
<p>To complte your registration, you must confirm your e-mail address by visiting the following link:</p>
<p><a id="confirmation-link" href="{{ email_confirmation_url }}">{{ email_confirmation_url }}</a></p>
<p>If you did not register to use our service, please ignore this e-mail.</p>
<p>
    Kind regards,<br>
    Guillaume from Duty Duck
</p>

{% endblock body %}