{% extends "layouts/base.tera" %}
{% block title %}Index{% endblock title %}

{% block body %}


{% include "partials/navbar.tera" %}

<h1>Index</h1>
<p class="important">
    Welcome to my awesome homepage.
</p>
{% endblock body %}