{% extends "layouts/auth.html" %}
{% block title %}E-mail confirmation{% endblock title %}
{% block head %}
    {% call super %}
    {% if result.is_ok() %}
    <script>
    setTimeout(() => {
        window.location.href = "/dashboard"
    }, 5000)
    </script>
    {% endif %}
{% endblock head %}

{% block content %}

{% call super() %}
<div class="card">
    <div class="card-body">
        {% match result %}
            {% when Ok with (_) %}
            <h3>You've made it!</h3>
            <p>Thank you for registering. Your e-mail address has been confirmed.</p>
            <p>In a few seconds you will be redirected to the dashboard</p>
            <p>
                <a href="/">Not redirected? Click here to go to the dashboard</a>
            </p>
            {% when Err with (ConfirmEmailError::InvalidToken) %}
            <h3>Uh-oh,</h3>
            <p>It looks like your e-mail confirmation token has expired. Please attempt to log in again and we will send you a new confirmation e-mail.</p>
            <p>
                <a href="/auth/login" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Go to the login page</a>
            </p>
            {% when Err with (_) %}
            <h3>Oh dear,</h3>
            <p>Something went wrong on our end that prevented the confirmation of your account. We are sorry for this inconvenience.</p>
            <p>Please attempt to confirm your account again by reloading this page</p>
        {% endmatch %}
    </div>
</div>

{% endblock content %}