{% extends "layouts/auth.html" %}
{% block title %}Login{% endblock title %}

{% block content %}

{% let active_page = "Log in" -%}

{% call super() %}
<h1 class="fs-2 text-center mb-4">Welcome back</h1>
<div class="card">
    <form class="card-body">
        <div class="alert alert-info">
            Don't have an account yet? Start monitoring your website today,
            <a href="/auth/signup" class="alert-link">
                <i data-feather="edit-2"></i> Sign up
            </a>
          </div>

        <div class="mb-3">
            <label for="email" class="form-label">Enter your e-mail address to log in</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Enter your password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="text-center">
            <p>
                <button type="submit" class="btn btn-primary rounded-pill">Log in</button>
            </p>
            <p>
                <a href="##">Forgot your password? Click here to reset it</a>
            </p>
        </div>
    </form>
</div>

{% endblock content %}