{% if confirmation_email_sent %}
<button id="send-email-confirmation" type="button" class="btn btn-outline-primary" disabled>
    E-mail sent!
</button>
{% else %}
<button 
    class="btn btn-outline-primary" 
    id="send-email-confirmation" 
    x-target @click.prevent="$ajax('/auth/resend-confirmation', { method: 'POST', body: { user_id: '{{user_id}}' } })"
>
    <span class="spinner-border spinner-border-sm me-2" role="status" x-loading></span>
    Send confirmation e-mail
</button>
{% endif %}